@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0rem 2rem;
  font-family: "Inter", sans-serif;
  background-color: #f3fcf7;
}

:root {
  --primary-color: #06c167;
  --secondary-color: #1d1d1f;
  --font-size: 10px;
}
.section-w {
  max-width: 1280px;
  margin: auto;
}
#hero-section {
  background-color: #f3fcf7;
}
nav {
  width: 100%;
  margin: auto;
  background: #f3fcf7;
  /* padding: 20px 40px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
}

.logo {
  font-size: 3.2rem;
  font-weight: 500;
  color: #06c167;
}
.nav-links li a.active {
  color: #06c167;
  font-weight: 600;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-links li a {
  text-decoration: none;
  font-size: 1.6rem;
  color: #1d1d1f;
  transition: 0.3s;
}

.nav-links li a:hover {
  color: #06c167;
}

/* hero section style start */
.hero-start {
  margin-top: 2.4rem;
  display: flex;
  justify-content: start;
  gap: 2rem;
}
.hero-content {
  max-width: 55%;
}
.hero-img {
  max-width: 45%;
  margin-left: 2rem;
}
.hero-content h1 {
  margin-top: 4rem;
  font-size: 5.5rem;
  color: var(--secondary-color);
  font-weight: 500;
  margin-right: 2.5rem;
}
.hero-content p {
  font-size: 1rem;
  color: var(--secondary-color);
  font-weight: 400;
  margin-right: 10rem;
  margin-top: 1rem;
}
.hero-btn {
  width: 130px;
  background-color: var(--primary-color);
  padding: 1rem 0.5rem;
  border-radius: 1rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
}
.hero-btn a {
  text-decoration: none;
  color: #f3fcf7;
}
.hero-btn img {
  width: 18px;
  height: 14px;
  margin-left: 5px;
}
/* hero end */

/* ----- Mobile Menu Button ----- */
.menu-btn {
  font-size: 28px;
  cursor: pointer;
  display: none;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  padding: 5px 10px;
  border-radius: 6px;
}

/* ----- Responsive ----- */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 80px;
    right: 0;
    background: #fff;
    width: 200px;
    height: 0;
    overflow: hidden;
    flex-direction: column;
    text-align: left;
    padding-left: 20px;
    gap: 20px;
    transition: 0.3s ease;
  }

  .logo {
    font-size: 2.2rem;
    font-weight: 400;
  }
  .nav-links li a {
    font-size: 1.2rem;
  }

  .nav-links.active {
    height: 200px;
    padding-top: 20px;
  }

  .menu-btn {
    display: block;
  }

  /* hero section style start */
  .hero-start {
    margin-top: 0.4rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  .hero-content {
    max-width: 100%;
  }
  .hero-img {
    max-width: 100%;
    margin-left: 0rem;
  }
  .hero-img img {
    max-width: 100%;
  }
  .hero-content h1 {
    margin-top: 1rem;
    font-size: 4rem;
    font-weight: 400;
    margin-right: 0rem;
    text-align: center;
  }
  .hero-content p {
    font-size: 0.8rem;
    color: var(--secondary-color);
    font-weight: 300;
    margin-right: 0rem;
    margin-top: 1rem;
    text-align: center;
  }
  .hero-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 0%;
  }
  .hero-btn a {
    text-decoration: none;
    color: #f3fcf7;
  }
  .hero-btn img {
    width: 18px;
    height: 14px;
    margin-left: 5px;
  }
  /* hero end */
}
