@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #fff;
  padding: 0 2rem;
}

/* Variables */
:root {
  --primary-color: #06c167;
  --secondary-color: #1d1d1f;
  --light-bg: #f3fcf7;
  --fs-base: 10px;
  --transition: 0.3s ease;
}

/* Wrapper */
.section-w {
  max-width: 1280px;
  margin: auto;
  padding: 0 1rem;
}

/* Hero Section */
#hero-section {
  background-color: var(--light-bg);
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem;
  background: var(--light-bg);
}

.logo {
  font-size: 3.2rem;
  font-weight: 600;
  color: var(--primary-color);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2.5rem;
}

.nav-links li a {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 1.6rem;
  transition: var(--transition);
}

.nav-links li a:hover {
  color: var(--primary-color);
}

.nav-links li a.active {
  color: var(--primary-color);
  font-weight: 600;
}

/* Menu Button */
.menu-btn {
  font-size: 30px;
  cursor: pointer;
  display: none;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  padding: 5px 10px;
  border-radius: 6px;
  background: none;
}

/* Hero Content */
.hero-start {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.hero-content {
  max-width: 50%;
}

.hero-img {
  max-width: 50%;
}

.hero-content h1 {
  font-size: 5rem;
  font-weight: 600;
  color: var(--secondary-color);
  line-height: 1.2;
}

.hero-content p {
  margin-top: 1rem;
  font-size: 1.1rem;
  color: var(--secondary-color);
  opacity: 0.8;
  max-width: 85%;
}

/* Button */
.hero-btn {
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  padding: 1rem 1.5rem;
  border-radius: 12px;
  margin-top: 1.5rem;
  width: fit-content;
  cursor: pointer;
  transition: var(--transition);
}

.hero-btn:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.hero-btn a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.hero-btn img {
  margin-left: 8px;
  width: 18px;
  height: 14px;
}

/* Company Logos */
.company-logo {
  margin: 5rem 0;
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.company-logo img {
  max-width: 100%;
}

/* free shipping start */
#freeShipping {
  padding: 4rem 0;
  border-top: var(--secondary-color) 0.01rem solid;
  border-bottom: var(--secondary-color) 0.01rem solid;
}

.free-shipping {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.free-shipping-one,
.free-shipping-two {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  align-items: center;
}

.free-shipping-one1,
.free-shipping-one2 {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}
.free-shipping-one1,
.free-shipping-one2,
h6 {
  font-size: 1.8rem;
  color: var(--secondary-color);
}

.free-shipping-one1,
.free-shipping-one2,
p {
  font-size: 1.4rem;
  color: var(--secondary-color);
}
/* free shipping end */

/* ---------- Responsive Design ---------- */
@media (max-width: 768px) {
  /* Mobile Navbar */
  .menu-btn {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 90px;
    right: 0;
    background: #fff;
    flex-direction: column;
    width: 0;
    height: 0;
    overflow: hidden;
    padding-left: 20px;
    gap: 15px;
    transition: var(--transition);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  .nav-links.active {
    width: 200px;
    height: 220px;
    padding-top: 20px;
  }

  .logo {
    font-size: 2.4rem;
  }

  /* Hero */
  .hero-start {
    flex-direction: column;
    text-align: center;
  }

  .hero-content,
  .hero-img {
    max-width: 100%;
  }

  .hero-content h1 {
    font-size: 3.5rem;
  }

  .hero-content p {
    font-size: 1rem;
    max-width: 100%;
  }

  .hero-btn {
    margin: 1rem auto;
    width: 80%;
    justify-content: center;
  }

  /* Company Logos */
  .company-logo {
    flex-direction: column;
    gap: 2rem;
  }

  .company-logo-one {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  .company-logo-two {
    display: none;
  }

  .company-logo-three {
    display: flex;
    justify-content: center;
  }

  .free-shipping {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-around;
    align-items: center;
  }

  .free-shipping-one1,
  .free-shipping-one2,
  h6 {
    font-size: 1.2rem;
    color: var(--secondary-color);
  }

  .free-shipping-one1,
  .free-shipping-one2,
  p {
    font-size: 0.8rem;
    color: var(--secondary-color);
  }
}
